<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jeff.Jones.JHelpers" version="1.0.3" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.7.0" targetFramework="net48" />
  <package id="System.DirectoryServices" version="4.7.0" targetFramework="net48" />
  <package id="System.Management" version="4.7.0" targetFramework="net48" />
</packages>